/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
}

html {
    font-family: fantasy;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #000;
}

#header .search_button {
    float: right;
    padding: 0 24px;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
}

#header .search_button:hover {
    background-color: rgb(85, 37, 130);
    /* color: rgb(253, 185, 39); */
    cursor: pointer;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    padding: 0 30px;
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: rgb(253, 185, 39);
    background-color: rgb(85, 37, 130);
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 150px;
    left: 0;
    top: 100%;
    box-shadow: 0 0 15px;
}

#nav .subnav a {
    color: #000;
    line-height: 45px;
    padding: 0 12px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#slider {
    /* min-height: 500px;
    background-color: #ccc; */
    margin-top: 60px;
    padding-top: 50%;
    background: url("/assets/img/slider/1307066.jpg") top center / cover
        no-repeat;
}

#content {
}

#footer {
}
