/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
}

html {
    font-family: fantasy;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #000;
    z-index: 1;
}

#header .search_button {
    float: right;
    padding: 0 24px;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
}

#header .search_button:hover {
    background-color: rgb(85, 37, 130);
    /* color: rgb(253, 185, 39); */
    cursor: pointer;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    padding: 0 30px;
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: rgb(253, 185, 39);
    background-color: rgb(85, 37, 130);
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 150px;
    left: 0;
    top: 100%;
    box-shadow: 0 0 15px;
    background-color: #fff;
}

#nav .subnav a {
    color: #000;
    line-height: 45px;
    padding: 0 12px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#slider {
    position: relative;
    margin-top: 60px;
    padding-top: 50%;
    background: url("/assets/img/slider/1307066.jpg") top center / cover
        no-repeat;
}

#slider .text_content {
    position: absolute;
    bottom: 35px;
    color: rgb(253, 185, 39);
    /* left: 50%;
    transform: translateX(-50%); */
    left: 0;
    right: 0;
    text-align: center;
}

#slider .text_heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text_date {
    margin-top: 8px;
}

#slider .text_description {
    margin-top: 8px;
}

#content {
}

#content .content_section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#content .section_header {
    font-size: 30px;
    font-weight: 100;
    color: rgb(253, 185, 39);
    letter-spacing: 2.5px;
}

#content .section_sub_heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .section_header,
.section_sub_heading {
    text-align: center;
}

#content .about_text {
    font-size: 15px;
    margin-top: 18px;
    line-height: 1.4;
}

#footer {
}
